body {
  margin: 0;
  font-family: sans-serif;
}

header {
  width: 100%;
  background: #4e94ab;
}

#btn-menu {
  display: none;
}

header label {
  display: none;
  width: 30px;
  height: 30px;
  padding: 25px;
  border-right: 1px solid #fff;
}

header label:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3);
}

.menu ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.menu li {
  border-right: 1px solid #fff;
}

.menu li:hover {
  background: rgba(0, 0, 0, 0.3);
}

.menu li a {
  display: block;
  padding: 25px 30px;
  color: #fff;
  text-decoration: none;
}

@media (max-width: 768px) {
  header label {
    display: block;
  }

  .menu {
    position: absolute;
    background: #4e94ab;
    width: 70%;
    margin-left: -70%;
    transition: all 0.5s;
  }

  .menu ul {
    flex-direction: column;
  }

  .menu li {
    border-top: 1px solid #fff;
  }

  #btn-menu:checked ~ .menu {
    margin: 0;
  }
}

.buttom i {
  color: white;
  font-size: 2.5em;
}

/* Hero*/
.hero {
  height: 28.165em;
  background-image: url(../img/hero_articulo.jpg);
  margin-bottom: 2em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.35);
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}
.hero-content {
  position: relative;
  z-index: 1;
  flex: 1;
  padding-bottom: 2em;
  color: var(--white);
  text-align: center;
}

.logo {
  text-align: center;
}
.logo img {
  width: 70%;
  height: 10em;
}
@media (min-width: 768px) {
  .logo img {
    width: 50%;
    height: 15em;
  }
}

.main-content {
  margin: 0 2em;
}

footer {
  background-color: #4e94ab;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 0.35em;
}

footer .menu-social ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  width: 50%;
  margin-left: 25%;
}
.menu-social i {
  font-size: 3em;
  margin: 0 0.15em;
}
.menu-social i:hover {
  color: white;
}

@media (min-width: 768px) {
  footer {
   flex-direction: row;
   text-align: center;
   padding-left: 2em;
  }
  .menu-social i {
    font-size: 2em;
    margin: 0 0.15em;
  }
}
